

.navbar {
    background-color:#2e8bc0;
}
.nav-link {
    font-size:25px;
    
}

.contact {
    background-color:#3d7499;
    
}

.Homepage {
    background-color:#519cc6;
}

.expertise {
    background-color:#8d8d97;
}

.Tenos {
    background-color: #8d8d97;
}

.about {
    background-color: #8d8d97;
}

